@import url("./pokemon.css");

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

.box {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.fv {
  flex-direction: column;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 50px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin: 50px 0;
  background-color: white;
  gap: 10px;
}
