<section class="block">
  <form class="search-form js-first-form">
    <div class="form-group m-2">
      <input type="text" class="form-control" name="name" />
    </div>
    <div class="form-group m-2">
      <input type="text" class="form-control" name="age" />
    </div>
    <div class="form-group m-2">
      <input type="text" class="form-control" name="phone" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
 

  <ul class="list fb">
    <li>Test1</li>
    <li>Test2</li>
    <li>Test3</li>
  </ul>
</section>
