<section class="block">
  <form class="search-form js-third-form">
    <div class="form-group m-2">
      <input type="text" class="form-control" name="query" placeholder="name"/>
    </div>
    <div class="form-group m-2">
      <input type="text" class="form-control" name="desc" placeholder="description" />
    </div>
   
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
     <button type="button" class="btn btn-primary js-random-button">Random</button>
  <ul class="list fb js-third-list">
  
  </ul>
</section>
