<section class="block">
  <form class="search-form js-songs-form"></form>
  <form class="search-form js-create-songs-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="title"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="artist"
        placeholder="artist"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="genre"
        placeholder="genre"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="number"
        class="form-control"
        name="releaseYear"
        placeholder="releaseYear"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="number"
        class="form-control"
        name="durationSeconds"
        placeholder="durationSeconds"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>

  <form class="search-form js-update-songs-form">
    <div class="form-group m-2">
      <input type="text" class="form-control" name="id" placeholder="id" />
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="title"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="artist"
        placeholder="artist"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="genre"
        placeholder="genre"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="number"
        class="form-control"
        name="releaseYear"
        placeholder="releaseYear"
      />
    </div>
    <div class="form-group m-2">
      <input
        type="number"
        class="form-control"
        name="durationSeconds"
        placeholder="durationSeconds"
      />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

  <ul class="list fb js-songs-list">
    <li>TITLE - Author</li>
  </ul>
</section>

<!-- 

-->
